<!DOCTYPE html>
<html>
<head>Lending Library</head>
<body>
<h3>Books I've Lent Out</h3>
<form action="/" method="post">
  <input type="text" placeholder="Book Title" name="book">
  <input type="submit" value="Add">
</form>
</body>
</html>

